.function-select {
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    padding: 6px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #fafafa;
}
