.exception {
    flex: 0 0 62.5%;
    width: 80%;
    zoom: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

.imgBlock {
    flex: 0 0 62.5%;
    width: 62.5%;
    zoom: 1;
}

.imgBlock:before, .imgBlock:after {
    content: " ";
    display: table;
}

.imgBlock:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.imgEle {
    height: 360px;
    width: 100%;
    max-width: 430px;
    float: right;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.content {
    flex: auto;
}

.content h1 {
    color: #434e59;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 24px;
}

.content .desc {
    color: fade(#000, 45%);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
}

