body {
    background: #f0f2f5;
    overflow: hidden;
}

.ant-layout-sider-trigger {
    background: #fff;
}

.ant-layout-sider-trigger > i {
    color: #333;
}

.ant-menu-horizontal {
    border-width: 0;
}

.ant-card-head {
    min-height: 36px;
    padding: 0 8px;
}

.ant-card-extra {
    padding: 0 0 0 6px;
    margin-top: 8px;
}

.ant-card-head-title {
    font-size: 14px;
    padding: 8px 0;
    display: inline-block;
    font-weight: inherit;
}

.ant-card-body {
    padding: 8px;
}

.ant-card-wider-padding .ant-card-head {
    padding: 0 8px;
}

.ant-card-wider-padding .ant-card-body {
    padding: 8px;
}

.ant-form-item {
    margin: 6px 0;
}
.ant-form-inline .ant-form-item {
    margin-top: 0;
}

.ant-modal-body {
    padding: 16px;
}

.button-link {
    color: #fff;
}

.button-link:hover {
    color: #fff;
}

.anticon:before {
    display: block;
    font-family: "anticon" !important;
}